body{
	background-color :#99cccc;
	/*overflow-y:hidden;*/
	/*font-size:26px;*/

}
#left_panel{
	
	float:left;	
	width:50%;
}
#home_picture{
	height : 40%;
	width  : 60%;
}
#left_head{
	float:left;
	font-size:200%;
	color:#f0f0f0;
	height:10%;
}
#tabs_contents input{
	background-color:#00FFFF;
	width:17%;
	float:left;
	height:40px;
	font-size:120%;
	
}
#left_tagline{
	font-style:italic;
	color: #f0f01e;
}
#pagefooter{
	/*height : 20%;
	width : 100%;
	text-align: center;
	background-color:#adfa32;
	font-size:16px;
	position:absolute;
   	bottom:0;
   	width:100%;*/
   /*height:60px;  */ /* Height of the footer */
/*   background:#6cf;*/

}

#footer_timings{
	font-size: 20px;
}
#tabs_contents{
	margin-left:20%;
	float:right;
	text-align:left;
	width:150%;
color:#00FFFF;	
}
#tabs_contents a{
	text-decoration: none;
	font-size:50px;
	color:#00FFFF;
}
#about_home p{
	/*margin-left : 20%;*/
	width : 100%;
}
#home_ID,#bars_ID,#shopping_ID,#restaurants_ID,#contact_us_ID{
	font-size:25px;
}

#location,#address,#email,#comments {
	color:green;
}
